.chatbot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.chatbot-messages {
    flex: 1;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    overflow-y: auto;
    background-color: #121212;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Pretendard-Regular"
}

.chatbot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
}

.chatbot-message.bot {
    background-color: #333;
    align-self: flex-start;
    text-align: left;
}

.chatbot-message.user {
    background-color: #1f1f1f;
    align-self: flex-end;
    text-align: right;
}

.chatbot-input-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background-color: #121212;
    box-sizing: border-box;
    justify-content: center;
}

.chatbot-input {
    flex: 1;
  padding: 15px; /* 입력 칸의 크기를 크게 수정 */
    margin-right: 10px;
    background-color: #1f1f1f;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}

.chatbot-button {
  padding: 5px 10px;
    cursor: pointer;
    background-color: #1f1f1f;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s;
    width: 4rem !important;
}

.chatbot-button:hover {
    background-color: #333;
}
