@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.header {
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between; /* 공간을 균등하게 분배 */
  align-items: center; /* 요소를 수직으로 중앙에 정렬 */
  font-family: "MoveSans-Bold";
}

.header h1 {
  text-decoration: none;
  color: black;
  margin: 0;
}

.header.dark {
  background-color: #1f1f1f;
  color: #ffffff;
}

.header a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
  font-family: "LOTTERIACHAB";
  font-weight: lighter;
}

.header nav {
  display: flex; /* 수평 정렬을 위한 플렉스 박스 설정 */
  align-items: center; /* 수직으로 중앙에 정렬 */
}

.header nav a:hover {
  text-decoration: underline;
}
