.solution-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f1f1f;
}

.solution-detail-content {
  text-align: center;
  padding: 20px;
  color: #ffffff;
}

.kit-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1f1f1f;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  
}

.kit-button:hover {
  background-color: #f0f0f0;
}
