@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.header {
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "MoveSans-Bold";
}
.header h1 {
  text-decoration: none;
  color: black;
}
.header.dark {
  background-color: #1f1f1f;
  color: #ffffff;
}

.header h1 {
  margin: 0;
}

.header a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
  font-family: "LOTTERIACHAB";
  font-weight: lighter;
}

.header nav a:hover {
  text-decoration: underline;
}
